.root {
    -fx-background-color: #17181a;
}
.button-number {
    -fx-background-color: #303136;
    -fx-text-fill: #29a8ff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
}

.button-number:hover {
    -fx-background-color: #222328;
}

.button-number:pressed {
    -fx-background-color: #1C1D23;
}

.button-operacao {
    -fx-background-color: #1991ff;
    -fx-text-fill: #a3d3ff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
}

.button-operacao:hover {
    -fx-background-color:  #005db2;
}

.button-operacao:pressed {
    -fx-background-color: #024C90;
}

.button-igual {
    -fx-background-color: #005db2;
    -fx-text-fill: #a3d3ff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
}

.button-igual:hover {
    -fx-background-color: #165792;
}

.button-igual:pressed {
    -fx-background-color: #1C5181;
}

.button-maismenos {
    -fx-background-color: #303136;
    -fx-text-fill: #29a8ff;
    -fx-font-size: 20;
    -fx-background-radius: 12;
}

.button-maismenos:hover {
    -fx-background-color: #222328;
}

.button-maismenos:pressed {
    -fx-background-color: #121317;
}

.button-deletes {
    -fx-background-color: #616161;
    -fx-text-fill: #a5a5a5;
    -fx-alignment: center;
    -fx-font-size: 24;
    -fx-background-radius: 12;
}

.button-deletes:hover {
    -fx-background-color: #4F4D4D;
}

.button-deletes:pressed {
    -fx-background-color: #3C3B3B;
}

.label {
    -fx-text-fill: #ffffff;
}

