.root {
    -fx-background-color: #17181a;
}

.button-number {
    -fx-background-color: #303136;
    -fx-text-fill: #29a8ff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
    -fx-font-family: 'Hind Siliguri Medium';
}

.button-number:hover {
    -fx-background-color: #26272b;
}

.button-number:pressed {
    -fx-background-color: #222226;
}

.button-operacao {
    -fx-background-color: #056FCD;
    -fx-text-fill: #C4DFFD;
    -fx-font-size: 24;
    -fx-background-radius: 12;
    -fx-font-family: 'Hind Siliguri Medium';
}

.button-operacao:hover {
    -fx-background-color: #0459a4;
}

.button-operacao:pressed {
    -fx-background-color: #044e90;
}

.button-igual {
    -fx-background-color: #1991ff;
    -fx-text-fill: #a3d3ff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
    -fx-font-family: 'Hind Siliguri Medium';
}

.button-igual:hover {
    -fx-background-color: #1474cc;
}

.button-igual:pressed {
    -fx-background-color: #1266b3;
}

.button-number-maismenos {
    -fx-font-size: 20;
    -fx-background-color: #303136;
    -fx-text-fill: #29a8ff;
    -fx-background-radius: 12;
    -fx-font-family: 'Hind Siliguri Medium';
}

.button-number-maismenos:hover {
    -fx-background-color: #26272b;
}

.button-number-maismenos:pressed {
    -fx-background-color: #222226;
}

.button-deletes {
    -fx-background-color: #616161;
    -fx-text-fill: #a5a5a5;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-background-radius: 12;
    -fx-font-family: 'Hind Siliguri Medium';
}

.button-deletes:hover {
    -fx-background-color: #4e4e4e;
}

.button-deletes:pressed {
    -fx-background-color: #444444;
}

.label-resultado {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Hind Siliguri Medium';
}

.label-review {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
    -fx-font-family: 'Hind Siliguri Medium';
}

